## 2021: Week 29 - PD x WOW - Tokyo 2020 Calendar

Challenge by Tom Prowse with collaboration with the Workout Wednesday team!

This week is time for our annual get together with Workout Wednesday for a joint challenge so that you can have a full data prep to visualisation solution. 

Unfortunately the Olympics was postponed in 2020, so for last year's collaboration we looked at historical winners through the history of the games. However, this year, Japan 2020 is going ahead so we thought it would be the perfect time to create an event calendar to help us keep track of the events that we don't want to miss. 

### Inputs
The data comes from the Olympics website. (Note; this was taken on Wednesday 14th July so the schedule for some events may have changed since!).

1. Event Schedule

A list of all the event dates, times and locations throughout the games

2. Venue Details

A list of all of the different venue locations

### Requirements
- Input the Data 
- Create a correctly formatted DateTime field 
- Parse the event list so each event is on a separate row 
- Group similar sports into a Sport Type field 
- Combine the Venue table 
- Calculate whether the event is a 'Victory Ceremony' or 'Gold Medal' event. (Note, this might not pick up all of the medal events.)
- Output the Data

In [872]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [873]:
data = pd.read_excel("./data/Olympic Events.xlsx", sheet_name=["Olympics Events", "Venues"])
olympics = data["Olympics Events"].copy()
venues = data["Venues"].copy()

C:\Users\HYUNJUN\anaconda3\envs\deep-learning-gpu\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [874]:
olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    709 non-null    object
 1   Time    709 non-null    object
 2   Sport   709 non-null    object
 3   Venue   709 non-null    object
 4   Events  709 non-null    object
dtypes: object(5)
memory usage: 27.8+ KB

In [875]:
olympics.head()

,Date,Time,Sport,Venue,Events
0,21st_July_2021,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,"Australia vs Japan, Italy vs United States, Me..."
1,21st_July_2021,8:30,Football,Sapporo Dome,"Women's Group E: Great Britain vs Chile, Women..."
2,21st_July_2021,9:00,Football,Miyagi Stadium,"Women's Group F: China vs Brazil, Women's Grou..."
3,21st_July_2021,9:30,Football,Tokyo Stadium,"Women's Group G: Sweden vs United States, Wome..."
4,22nd_July_2021,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,"United States vs Canada, Mexico vs Japan, Ital..."

In [876]:
venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Venue     59 non-null     object
 1   Sport     59 non-null     object
 2   Location  59 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB

In [877]:
venues.head()

,Venue,Sport,Location
0,Olympic Stadium,Opening Ceremony,"35.67786383266573, 139.71366292613558"
1,Olympic Stadium,Closing Ceremony,"35.67786383266573, 139.71366292613558"
2,Olympic Stadium,Athletics,"35.67786383266573, 139.71366292613558"
3,Olympic Stadium,Football,"35.67786383266573, 139.71366292613558"
4,Tokyo Metropolitan Gymnasium,Table Tennis,"35.679538129089025, 139.71224149090568"

In [878]:
# Create a correctly formatted DateTime field
import re
date_time = olympics["Date"].str.split("_").apply(pd.Series)

def find_numbers(x):
    pattern = re.compile("[0-9]")
    result = pattern.findall(x)
    result = "".join(result)
    return result

date_time[0] = date_time[0].map(lambda x: find_numbers(x))
date_time = date_time[0] + "/" + date[1] + "/" + date[2]
date_time

0       21/July/2021
1       21/July/2021
2       21/July/2021
3       21/July/2021
4       22/July/2021
           ...
704    8/August/2021
705    8/August/2021
706    8/August/2021
707    8/August/2021
708    8/August/2021
Length: 709, dtype: object

In [879]:
olympics["Date"] = pd.to_datetime(date_time)
olympics

,Date,Time,Sport,Venue,Events
0,2021-07-21,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,"Australia vs Japan, Italy vs United States, Me..."
1,2021-07-21,8:30,Football,Sapporo Dome,"Women's Group E: Great Britain vs Chile, Women..."
2,2021-07-21,9:00,Football,Miyagi Stadium,"Women's Group F: China vs Brazil, Women's Grou..."
3,2021-07-21,9:30,Football,Tokyo Stadium,"Women's Group G: Sweden vs United States, Wome..."
4,2021-07-22,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,"United States vs Canada, Mexico vs Japan, Ital..."
...,...,...,...,...,...
704,2021-08-08,5:40,Water Polo,Tatsumi Water Polo Centre,Men's Bronze Medal Match
705,2021-08-08,6:00,Boxing.,Kokugikan Arena,"Women's Light (57-60kg) Final, Men's Light (57..."
706,2021-08-08,7:00,Handball,Yoyogi National Stadium,Women's Gold Medal Match
707,2021-08-08,8:30,Water Polo,Tatsumi Water Polo Centre,Men's Gold Medal Match
708,2021-08-08,12:00,Closing Ceremony,Olympic Stadium,-

In [880]:
# Parse the event list so each event is on a separate row
events = olympics["Events"].str.split(",").apply(pd.Series)
events = pd.concat([olympics, events], axis=1).melt(id_vars=["Date", "Time", "Sport", "Venue", "Events"], value_name="Events Split").drop(["variable", "Events"], axis=1)
events = events.dropna()
events.shape

(1895, 5)

In [881]:
# Group similar sports into a Sport Type field
events["Sport"].value_counts(dropna=False).index.sort_values()

Index(['3x3 Basketball', 'Archery', 'Artistic Gymnastic',
       'Artistic Gymnastics', 'Artistic Swimming', 'Athletics', 'Badminton',
       'Baseball', 'Baseball/Softball', 'Basketball', 'Beach Volley',
       'Beach Volleybal', 'Beach Volleyball', 'Beach volleyball', 'Boxing',
       'Boxing.', 'Canoe Slalom', 'Canoe Sprint', 'Closing Ceremony',
       'Cycling BMX Freestyle', 'Cycling BMX Racing', 'Cycling Mountain Bike',
       'Cycling Road', 'Cycling Track', 'Diving', 'Equestrian', 'Fencing',
       'Football', 'Golf', 'Handball', 'Hockey', 'Judo', 'Karate',
       'Marathon Swimming', 'Modern Pentathlon', 'Opening Ceremony',
       'Rhythmic Gymnastics', 'Rowing', 'Rugby', 'Rugby.', 'Sailing',
       'Shooting', 'Skateboarding', 'Skateboarding.', 'Softball',
       'Softball/Baseball', 'Sport Climbing', 'Surfing', 'Swimming',
       'Table Tennis', 'Taekwondo', 'Tennis', 'Trampoline Gymnastics',
       'Triathlon', 'Volleyball', 'Water Polo', 'Weightlifting', 'Wrestling',
       'Wrestling.', 'boxing', 'diving', 'football', 'rugby', 'volleyball'],
      dtype='object')

In [882]:
sport_groups_list = pd.read_excel("./output/Olympic Event Schedule.xlsx")["Sport Group"].drop_duplicates()
sport_groups_list = sport_groups_list.sort_values()
sport_groups_list.values

array(['Archery', 'Athletics', 'Badminton', 'Baseball', 'Basketball',
       'Boxing', 'Canoeing', 'Ceremony', 'Cycling', 'Diving',
       'Equestrian', 'Fencing', 'Football', 'Golf', 'Gymnastics',
       'Handball', 'Hockey', 'Martial Arts', 'Modern Pentathlon',
       'Rhythmic Gymnastics', 'Rowing', 'Rugby', 'Sailing', 'Shooting',
       'Skateboarding', 'Sport Climbing', 'Surfing', 'Swimming', 'Tennis',
       'Triathlon', 'Volleyball', 'Water Polo', 'Weightlifting',
       'Wrestling', 'diving', 'football'], dtype=object)

In [883]:
events["Sport Group"] = events["Sport"].map({"3x3 Basketball": "Basketball",
                                             "Artistic Gymnastic": "Gymnastics",
                                             "Artistic Gymnastics": "Gymnastics",
                                             "Baseball/Softball": "Baseball",
                                             "Beach Volley": "Volleyball",
                                             "Beach Volleybal": "Volleyball",
                                             "Boxing.": "Boxing",
                                             "Canoe Slalom": "Canoeing",
                                             "Canoe Sprint": "Canoeing",
                                             "Closing Ceremony": "Ceremony",
                                             "Cycling BMX Freestyle": "Cycling",
                                             "Cycling Mountain Bike": "Cycling",
                                             "Cycling Road": "Cycling",
                                             "Cycling Track": "Cycling",
                                             "Cycling BMX Racing": "Cycling",
                                             "Judo": "Martial Arts",
                                             "Karate": "Martial Arts",
                                             "Marathon Swimming": "Swimming",
                                             "Opening Ceremony": "Ceremony",
                                             "Rugby.": "Rugby",
                                             "Skateboarding.": "Skateboarding",
                                             "Softball": "Baseball",
                                             "Softball/Baseball": "Baseball",
                                             "Table Tennis": "Tennis",
                                             "Taekwondo": "Martial Arts",
                                             "Trampoline Gymnastics": "Gymnastics",
                                             "Wrestling.": "Wrestling",
                                             "boxing": "Boxing",
                                             "rugby": "Rugby",
                                             "volleyball": "Volleyball",
                                             "Artistic Swimming": "Swimming",
                                             "Beach Volleyball": "Volleyball",
                                             "Beach volleyball": "Volleyball"
                     })

In [884]:
sport_origin_idx = events[events["Sport Group"].isna()].index

In [885]:
sport_origin_series = events.loc[sport_origin_idx, "Sport"]

In [886]:
events.loc[sport_origin_idx, "Sport Group"] = sport_origin_series

In [887]:
events["Sport Group"].value_counts(dropna=False).index.sort_values() == sport_groups_list.values

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [888]:
# Combine the Venue table
events["Venue"] = events["Venue"].map(lambda x: x.strip())

venues = venues[["Venue", "Location"]]
venues = venues.drop_duplicates(subset="Venue").reset_index(drop=True)
venues["Venue"] = venues["Venue"].map(lambda x: x.strip())

events = events.merge(venues, how="left", on="Venue")

In [889]:
events[events["Location"].isna()]

,Date,Time,Sport,Venue,Events Split,Sport Group,Location
31,2021-07-24,3:00,Cycling Road,Fuji international Speedway,Men's Road Race,Cycling,NaN
91,2021-07-25,5:00,Cycling Road,Fuji international Speedway,Women's Road Race,Cycling,NaN
265,2021-07-28,3:30,Cycling Road,Fuji international Speedway,Women's Individual Time Trial,Cycling,NaN
900,2021-07-28,3:30,Cycling Road,Fuji international Speedway,Women's Individual Time Trial Victory Ceremony,Cycling,NaN
1213,2021-07-28,3:30,Cycling Road,Fuji international Speedway,Men's Individual Time Trial,Cycling,NaN
1396,2021-07-28,3:30,Cycling Road,Fuji international Speedway,Men's Individual Time Trial Victory Ceremony,Cycling,NaN

In [890]:
fuji_speedway = venues.loc[venues["Venue"] == "Fuji International Speedway", "Location"]
fuji_speedway.values[0]

'35.372702911045124, 138.92936859906928'

In [891]:
events.loc[events["Location"].isna(), "Location"] = fuji_speedway.values[0]
events[events["Venue"] == "Fuji international Speedway"]

,Date,Time,Sport,Venue,Events Split,Sport Group,Location
31,2021-07-24,3:00,Cycling Road,Fuji international Speedway,Men's Road Race,Cycling,"35.372702911045124, 138.92936859906928"
91,2021-07-25,5:00,Cycling Road,Fuji international Speedway,Women's Road Race,Cycling,"35.372702911045124, 138.92936859906928"
265,2021-07-28,3:30,Cycling Road,Fuji international Speedway,Women's Individual Time Trial,Cycling,"35.372702911045124, 138.92936859906928"
900,2021-07-28,3:30,Cycling Road,Fuji international Speedway,Women's Individual Time Trial Victory Ceremony,Cycling,"35.372702911045124, 138.92936859906928"
1213,2021-07-28,3:30,Cycling Road,Fuji international Speedway,Men's Individual Time Trial,Cycling,"35.372702911045124, 138.92936859906928"
1396,2021-07-28,3:30,Cycling Road,Fuji international Speedway,Men's Individual Time Trial Victory Ceremony,Cycling,"35.372702911045124, 138.92936859906928"

In [892]:
# Calculate whether the event is a 'Victory Ceremony' or 'Gold Medal' event.
events.head()

,Date,Time,Sport,Venue,Events Split,Sport Group,Location
0,2021-07-21,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,Australia vs Japan,Baseball,"37.72216480340486, 140.3640114979229"
1,2021-07-21,8:30,Football,Sapporo Dome,Women's Group E: Great Britain vs Chile,Football,"43.01517544330762, 141.41041300340524"
2,2021-07-21,9:00,Football,Miyagi Stadium,Women's Group F: China vs Brazil,Football,"38.33557331725407, 140.95096377309127"
3,2021-07-21,9:30,Football,Tokyo Stadium,Women's Group G: Sweden vs United States,Football,"35.66446761779039, 139.52756286092847"
4,2021-07-22,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,United States vs Canada,Baseball,"37.72216480340486, 140.3640114979229"

In [893]:
check = pd.read_excel("./output/Olympic Event Schedule.xlsx")
check[check["Medal Ceremony?"] == True]["Events Split"]

19                       Men's 10000m Victory Ceremony
30                 Men's Discus Throw Victory Ceremony
33                       Women's 100m Victory Ceremony
38                   Women's Shot Put Victory Ceremony
42                    Men's High Jump Victory Ceremony
                             ...
1802                     Men's Keirin Victory Ceremony
1817    Women's Individual Time Trial Victory Ceremony
1819      Men's Individual Time Trial Victory Ceremony
1835                          Softball Gold Medal Game
1852                    Baseball Gold Medal Game (#10)
Name: Events Split, Length: 145, dtype: object

In [894]:
events[events["Events Split"] == "Men's 10000m Victory Ceremony"]

,Date,Time,Sport,Venue,Events Split,Sport Group,Location
442,2021-07-31,11:00,Athletics,Olympic Stadium,Men's 10000m Victory Ceremony,Athletics,"35.67786383266573, 139.71366292613558"

In [895]:
pattern = re.compile("Victory Ceremony")

pattern.search(events["Events Split"].iloc[442]).group()

'Victory Ceremony'

In [896]:
def check_event(x):
    vic = re.compile("Victory Ceremony")
    gold = re.compile("Gold Medal|Gold medal")
    if vic.search(x):
        return True
    elif gold.search(x):
        return True
    else:
        return False

events["Medal Ceremony?"] = events["Events Split"].map(lambda x: check_event(x))

In [897]:
events[events["Medal Ceremony?"] == True].shape[0]

145

In [898]:
check[check["Medal Ceremony?"] == True].shape[0]

145

In [745]:
# Output the Data
time = pd.to_datetime(events["Time"], format="%H:%M", errors="coerce")
events["Time"] = time.map(lambda x: x.time() if not pd.isnull(x) else "")
events.head()

,Date,Time,Sport,Venue,Events Split,Sport Group,Location,Medal Ceremony?
0,2021-07-21,01:00:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,Australia vs Japan,Baseball,"37.72216480340486, 140.3640114979229",False
1,2021-07-21,08:30:00,Football,Sapporo Dome,Women's Group E: Great Britain vs Chile,Football,"43.01517544330762, 141.41041300340524",False
2,2021-07-21,09:00:00,Football,Miyagi Stadium,Women's Group F: China vs Brazil,Football,"38.33557331725407, 140.95096377309127",False
3,2021-07-21,09:30:00,Football,Tokyo Stadium,Women's Group G: Sweden vs United States,Football,"35.66446761779039, 139.52756286092847",False
4,2021-07-22,01:00:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,United States vs Canada,Baseball,"37.72216480340486, 140.3640114979229",False

In [746]:
events["Latitude"] = events["Location"].map(lambda x: x.split(",")[0])
events["Longitude"] = events["Location"].map(lambda x: x.split(",")[1])
events.head()

,Date,Time,Sport,Venue,Events Split,Sport Group,Location,Medal Ceremony?,Latitude,Longitude
0,2021-07-21,01:00:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,Australia vs Japan,Baseball,"37.72216480340486, 140.3640114979229",False,37.72216480340486,140.3640114979229
1,2021-07-21,08:30:00,Football,Sapporo Dome,Women's Group E: Great Britain vs Chile,Football,"43.01517544330762, 141.41041300340524",False,43.01517544330762,141.41041300340524
2,2021-07-21,09:00:00,Football,Miyagi Stadium,Women's Group F: China vs Brazil,Football,"38.33557331725407, 140.95096377309127",False,38.33557331725407,140.95096377309127
3,2021-07-21,09:30:00,Football,Tokyo Stadium,Women's Group G: Sweden vs United States,Football,"35.66446761779039, 139.52756286092847",False,35.66446761779039,139.52756286092847
4,2021-07-22,01:00:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,United States vs Canada,Baseball,"37.72216480340486, 140.3640114979229",False,37.72216480340486,140.3640114979229

In [747]:
events = events.loc[:, ["Latitude", "Longitude", "Medal Ceremony?", "Sport Group", 
                        "Events Split", "Time", "Date", "Sport", "Venue"]]
events.head()

,Latitude,Longitude,Medal Ceremony?,Sport Group,Events Split,Time,Date,Sport,Venue
0,37.72216480340486,140.3640114979229,False,Baseball,Australia vs Japan,01:00:00,2021-07-21,Baseball/Softball,Fukushima Azuma Baseball Stadium
1,43.01517544330762,141.41041300340524,False,Football,Women's Group E: Great Britain vs Chile,08:30:00,2021-07-21,Football,Sapporo Dome
2,38.33557331725407,140.95096377309127,False,Football,Women's Group F: China vs Brazil,09:00:00,2021-07-21,Football,Miyagi Stadium
3,35.66446761779039,139.52756286092847,False,Football,Women's Group G: Sweden vs United States,09:30:00,2021-07-21,Football,Tokyo Stadium
4,37.72216480340486,140.3640114979229,False,Baseball,United States vs Canada,01:00:00,2021-07-22,Baseball/Softball,Fukushima Azuma Baseball Stadium

In [800]:
events.to_csv(".")

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [782]:
import pytz
import datetime as dt

dt.datetime(year=events["Date"][0].year, month=events["Date"][0].month, day=events["Date"][0].day,
            hour=events["Time"][0].hour, minute=events["Time"][0].minute, tzinfo=datetime.tzinfo("GMT"))

events["Date"][0].year

TypeError: 'getset_descriptor' object is not callable

In [762]:
events["Time"][0].minute

0

In [772]:
for tz in pytz.all_timezones:
    print(tz)

Africa/Abidjan
Africa/Accra
Africa/Addis_Ababa
Africa/Algiers
Africa/Asmara
Africa/Asmera
Africa/Bamako
Africa/Bangui
Africa/Banjul
Africa/Bissau
Africa/Blantyre
Africa/Brazzaville
Africa/Bujumbura
Africa/Cairo
Africa/Casablanca
Africa/Ceuta
Africa/Conakry
Africa/Dakar
Africa/Dar_es_Salaam
Africa/Djibouti
Africa/Douala
Africa/El_Aaiun
Africa/Freetown
Africa/Gaborone
Africa/Harare
Africa/Johannesburg
Africa/Juba
Africa/Kampala
Africa/Khartoum
Africa/Kigali
Africa/Kinshasa
Africa/Lagos
Africa/Libreville
Africa/Lome
Africa/Luanda
Africa/Lubumbashi
Africa/Lusaka
Africa/Malabo
Africa/Maputo
Africa/Maseru
Africa/Mbabane
Africa/Mogadishu
Africa/Monrovia
Africa/Nairobi
Africa/Ndjamena
Africa/Niamey
Africa/Nouakchott
Africa/Ouagadougou
Africa/Porto-Novo
Africa/Sao_Tome
Africa/Timbuktu
Africa/Tripoli
Africa/Tunis
Africa/Windhoek
America/Adak
America/Anchorage
America/Anguilla
America/Antigua
America/Araguaina
America/Argentina/Buenos_Aires
America/Argentina/Catamarca
America/Argentina/ComodRivadavia
America/Argentina/Cordoba
America/Argentina/Jujuy
America/Argentina/La_Rioja
America/Argentina/Mendoza
America/Argentina/Rio_Gallegos
America/Argentina/Salta
America/Argentina/San_Juan
America/Argentina/San_Luis
America/Argentina/Tucuman
America/Argentina/Ushuaia
America/Aruba
America/Asuncion
America/Atikokan
America/Atka
America/Bahia
America/Bahia_Banderas
America/Barbados
America/Belem
America/Belize
America/Blanc-Sablon
America/Boa_Vista
America/Bogota
America/Boise
America/Buenos_Aires
America/Cambridge_Bay
America/Campo_Grande
America/Cancun
America/Caracas
America/Catamarca
America/Cayenne
America/Cayman
America/Chicago
America/Chihuahua
America/Coral_Harbour
America/Cordoba
America/Costa_Rica
America/Creston
America/Cuiaba
America/Curacao
America/Danmarkshavn
America/Dawson
America/Dawson_Creek
America/Denver
America/Detroit
America/Dominica
America/Edmonton
America/Eirunepe
America/El_Salvador
America/Ensenada
America/Fort_Nelson
America/Fort_Wayne
America/Fortaleza
America/Glace_Bay
America/Godthab
America/Goose_Bay
America/Grand_Turk
America/Grenada
America/Guadeloupe
America/Guatemala
America/Guayaquil
America/Guyana
America/Halifax
America/Havana
America/Hermosillo
America/Indiana/Indianapolis
America/Indiana/Knox
America/Indiana/Marengo
America/Indiana/Petersburg
America/Indiana/Tell_City
America/Indiana/Vevay
America/Indiana/Vincennes
America/Indiana/Winamac
America/Indianapolis
America/Inuvik
America/Iqaluit
America/Jamaica
America/Jujuy
America/Juneau
America/Kentucky/Louisville
America/Kentucky/Monticello
America/Knox_IN
America/Kralendijk
America/La_Paz
America/Lima
America/Los_Angeles
America/Louisville
America/Lower_Princes
America/Maceio
America/Managua
America/Manaus
America/Marigot
America/Martinique
America/Matamoros
America/Mazatlan
America/Mendoza
America/Menominee
America/Merida
America/Metlakatla
America/Mexico_City
America/Miquelon
America/Moncton
America/Monterrey
America/Montevideo
America/Montreal
America/Montserrat
America/Nassau
America/New_York
America/Nipigon
America/Nome
America/Noronha
America/North_Dakota/Beulah
America/North_Dakota/Center
America/North_Dakota/New_Salem
America/Nuuk
America/Ojinaga
America/Panama
America/Pangnirtung
America/Paramaribo
America/Phoenix
America/Port-au-Prince
America/Port_of_Spain
America/Porto_Acre
America/Porto_Velho
America/Puerto_Rico
America/Punta_Arenas
America/Rainy_River
America/Rankin_Inlet
America/Recife
America/Regina
America/Resolute
America/Rio_Branco
America/Rosario
America/Santa_Isabel
America/Santarem
America/Santiago
America/Santo_Domingo
America/Sao_Paulo
America/Scoresbysund
America/Shiprock
America/Sitka
America/St_Barthelemy
America/St_Johns
America/St_Kitts
America/St_Lucia
America/St_Thomas
America/St_Vincent
America/Swift_Current
America/Tegucigalpa
America/Thule
America/Thunder_Bay
America/Tijuana
America/Toronto
America/Tortola
America/Vancouver
America/Virgin
America/Whitehorse
America/Winnipeg
America/Yakutat
America/Yellowknife
Antarctica/Casey
Antarctica/Davis
Antarctica/DumontDUrville
Antarctica/Macquarie
Antarctica/Mawson
Antarctica/McMurdo
Antarctica/Palmer
Antarctica/Rothera
Antarctica/South_Pole
Antarctica/Syowa
Antarctica/Troll
Antarctica/Vostok
Arctic/Longyearbyen
Asia/Aden
Asia/Almaty
Asia/Amman
Asia/Anadyr
Asia/Aqtau
Asia/Aqtobe
Asia/Ashgabat
Asia/Ashkhabad
Asia/Atyrau
Asia/Baghdad
Asia/Bahrain
Asia/Baku
Asia/Bangkok
Asia/Barnaul
Asia/Beirut
Asia/Bishkek
Asia/Brunei
Asia/Calcutta
Asia/Chita
Asia/Choibalsan
Asia/Chongqing
Asia/Chungking
Asia/Colombo
Asia/Dacca
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe
Asia/Famagusta
Asia/Gaza
Asia/Harbin
Asia/Hebron
Asia/Ho_Chi_Minh
Asia/Hong_Kong
Asia/Hovd
Asia/Irkutsk
Asia/Istanbul
Asia/Jakarta
Asia/Jayapura
Asia/Jerusalem
Asia/Kabul
Asia/Kamchatka
Asia/Karachi
Asia/Kashgar
Asia/Kathmandu
Asia/Katmandu
Asia/Khandyga
Asia/Kolkata
Asia/Krasnoyarsk
Asia/Kuala_Lumpur
Asia/Kuching
Asia/Kuwait
Asia/Macao
Asia/Macau
Asia/Magadan
Asia/Makassar
Asia/Manila
Asia/Muscat
Asia/Nicosia
Asia/Novokuznetsk
Asia/Novosibirsk
Asia/Omsk
Asia/Oral
Asia/Phnom_Penh
Asia/Pontianak
Asia/Pyongyang
Asia/Qatar
Asia/Qostanay
Asia/Qyzylorda
Asia/Rangoon
Asia/Riyadh
Asia/Saigon
Asia/Sakhalin
Asia/Samarkand
Asia/Seoul
Asia/Shanghai
Asia/Singapore
Asia/Srednekolymsk
Asia/Taipei
Asia/Tashkent
Asia/Tbilisi
Asia/Tehran
Asia/Tel_Aviv
Asia/Thimbu
Asia/Thimphu
Asia/Tokyo
Asia/Tomsk
Asia/Ujung_Pandang
Asia/Ulaanbaatar
Asia/Ulan_Bator
Asia/Urumqi
Asia/Ust-Nera
Asia/Vientiane
Asia/Vladivostok
Asia/Yakutsk
Asia/Yangon
Asia/Yekaterinburg
Asia/Yerevan
Atlantic/Azores
Atlantic/Bermuda
Atlantic/Canary
Atlantic/Cape_Verde
Atlantic/Faeroe
Atlantic/Faroe
Atlantic/Jan_Mayen
Atlantic/Madeira
Atlantic/Reykjavik
Atlantic/South_Georgia
Atlantic/St_Helena
Atlantic/Stanley
Australia/ACT
Australia/Adelaide
Australia/Brisbane
Australia/Broken_Hill
Australia/Canberra
Australia/Currie
Australia/Darwin
Australia/Eucla
Australia/Hobart
Australia/LHI
Australia/Lindeman
Australia/Lord_Howe
Australia/Melbourne
Australia/NSW
Australia/North
Australia/Perth
Australia/Queensland
Australia/South
Australia/Sydney
Australia/Tasmania
Australia/Victoria
Australia/West
Australia/Yancowinna
Brazil/Acre
Brazil/DeNoronha
Brazil/East
Brazil/West
CET
CST6CDT
Canada/Atlantic
Canada/Central
Canada/Eastern
Canada/Mountain
Canada/Newfoundland
Canada/Pacific
Canada/Saskatchewan
Canada/Yukon
Chile/Continental
Chile/EasterIsland
Cuba
EET
EST
EST5EDT
Egypt
Eire
Etc/GMT
Etc/GMT+0
Etc/GMT+1
Etc/GMT+10
Etc/GMT+11
Etc/GMT+12
Etc/GMT+2
Etc/GMT+3
Etc/GMT+4
Etc/GMT+5
Etc/GMT+6
Etc/GMT+7
Etc/GMT+8
Etc/GMT+9
Etc/GMT-0
Etc/GMT-1
Etc/GMT-10
Etc/GMT-11
Etc/GMT-12
Etc/GMT-13
Etc/GMT-14
Etc/GMT-2
Etc/GMT-3
Etc/GMT-4
Etc/GMT-5
Etc/GMT-6
Etc/GMT-7
Etc/GMT-8
Etc/GMT-9
Etc/GMT0
Etc/Greenwich
Etc/UCT
Etc/UTC
Etc/Universal
Etc/Zulu
Europe/Amsterdam
Europe/Andorra
Europe/Astrakhan
Europe/Athens
Europe/Belfast
Europe/Belgrade
Europe/Berlin
Europe/Bratislava
Europe/Brussels
Europe/Bucharest
Europe/Budapest
Europe/Busingen
Europe/Chisinau
Europe/Copenhagen
Europe/Dublin
Europe/Gibraltar
Europe/Guernsey
Europe/Helsinki
Europe/Isle_of_Man
Europe/Istanbul
Europe/Jersey
Europe/Kaliningrad
Europe/Kiev
Europe/Kirov
Europe/Lisbon
Europe/Ljubljana
Europe/London
Europe/Luxembourg
Europe/Madrid
Europe/Malta
Europe/Mariehamn
Europe/Minsk
Europe/Monaco
Europe/Moscow
Europe/Nicosia
Europe/Oslo
Europe/Paris
Europe/Podgorica
Europe/Prague
Europe/Riga
Europe/Rome
Europe/Samara
Europe/San_Marino
Europe/Sarajevo
Europe/Saratov
Europe/Simferopol
Europe/Skopje
Europe/Sofia
Europe/Stockholm
Europe/Tallinn
Europe/Tirane
Europe/Tiraspol
Europe/Ulyanovsk
Europe/Uzhgorod
Europe/Vaduz
Europe/Vatican
Europe/Vienna
Europe/Vilnius
Europe/Volgograd
Europe/Warsaw
Europe/Zagreb
Europe/Zaporozhye
Europe/Zurich
GB
GB-Eire
GMT
GMT+0
GMT-0
GMT0
Greenwich
HST
Hongkong
Iceland
Indian/Antananarivo
Indian/Chagos
Indian/Christmas
Indian/Cocos
Indian/Comoro
Indian/Kerguelen
Indian/Mahe
Indian/Maldives
Indian/Mauritius
Indian/Mayotte
Indian/Reunion
Iran
Israel
Jamaica
Japan
Kwajalein
Libya
MET
MST
MST7MDT
Mexico/BajaNorte
Mexico/BajaSur
Mexico/General
NZ
NZ-CHAT
Navajo
PRC
PST8PDT
Pacific/Apia
Pacific/Auckland
Pacific/Bougainville
Pacific/Chatham
Pacific/Chuuk
Pacific/Easter
Pacific/Efate
Pacific/Enderbury
Pacific/Fakaofo
Pacific/Fiji
Pacific/Funafuti
Pacific/Galapagos
Pacific/Gambier
Pacific/Guadalcanal
Pacific/Guam
Pacific/Honolulu
Pacific/Johnston
Pacific/Kanton
Pacific/Kiritimati
Pacific/Kosrae
Pacific/Kwajalein
Pacific/Majuro
Pacific/Marquesas
Pacific/Midway
Pacific/Nauru
Pacific/Niue
Pacific/Norfolk
Pacific/Noumea
Pacific/Pago_Pago
Pacific/Palau
Pacific/Pitcairn
Pacific/Pohnpei
Pacific/Ponape
Pacific/Port_Moresby
Pacific/Rarotonga
Pacific/Saipan
Pacific/Samoa
Pacific/Tahiti
Pacific/Tarawa
Pacific/Tongatapu
Pacific/Truk
Pacific/Wake
Pacific/Wallis
Pacific/Yap
Poland
Portugal
ROC
ROK
Singapore
Turkey
UCT
US/Alaska
US/Aleutian
US/Arizona
US/Central
US/East-Indiana
US/Eastern
US/Hawaii
US/Indiana-Starke
US/Michigan
US/Mountain
US/Pacific
US/Samoa
UTC
Universal
W-SU
WET
Zulu